.rectangle{
  display: inline-block;
  border: 1px solid black;
  height: 400px;
  width: 250px;
  margin-left: 2%;
  margin-right: 1px;
  border-radius: 20px;
  overflow: hidden;
}

.rectangle:hover{
  border: 1px solid;
  box-shadow: 5px 10px #888888;
}
.img{
  margin-top: -50px;
  margin-bottom: 50px;
  margin-right: 50%;
  max-width: 100%; /* Set a maximum width for the image */
  height: 200px; /* Allow the image to scale while maintaining aspect ratio */
  /* display:flex; */
}

.rectangle p{
  text-align: center;
}
.button{
  margin-left: 20%;
}

